.mean-container{
  background-image: url(../images/AppBreweryWallpaper\ 5.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
  height: 778px;
  width: 1580px;
  margin-top: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 1%;
  }
.button-34 {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 5px 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
#head-line {
  text-align: center;
  margin: 180px;
}

  #men-line{
    font-size: 52px;
    font-weight: 900;
    font-stretch: expanded;
    display: grid;
    justify-content: space-evenly;
  }
  #info{
      font-size: 20px;
      font-weight: bold;
  }
#a {
  font-size: 11px;
  color: white;
  background-color: #e7185d;
  border: 1px solid red;
  border-radius: 20px;
  padding: 8px 20px;
}
#b {
  font-size: 11px;
  font-weight: bold; 
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  padding: 8px 20px;
}
#work-cont{
  width: 80%; 
  margin: 50px auto;
  align-items: center;
  margin-left: 50px ;
   text-align: center;
}
.rooms-img{
   display:grid; 
   align-items: center;
   justify-content: center;
   grid-template-rows: 200px 200px 320px;
   gap: 30px;
}
.image-1{
  height: 250px;
  width: 530px;
  grid-column-start: 1;
  grid-column-end: 3;
}
.image-2{
  height: 200px;
  width: 250px;
  grid-column-start: 1;
  grid-column-end: 2;
}
.image-3{
  height: 200px;
  width: 250px;
  grid-column-start: 2;
  grid-column-end: 3;
}
.image-4{
  height: 500px;
  width: 350px;
  grid-column-start: 3;
  grid-column-end: 4;
}
#mean-apartment{
    font-size: 42;
    font-weight:bold;
    text-align: center;
    margin-bottom:50px;
    padding: 20px;
}
#Apartment{
    background-color: rgb(224, 224, 224);
    padding: 0 0 100px;
    justify-content: space-evenly;
    text-align: center;
}
.rooms1-detail{
    background-color: white;
}
.room1{
    display: flex;
    gap: 20px;
    margin: 10px;
}
.room1>img{
    height: 232px;
    width: 343px;
}
#RowA-rooms{
    text-align: center;
    background-color: white;
    margin: 0 50px;
}
#A1room-detail{
 border: 1px ;
  }
#A1room-detail>p>b{
   color: black;
}
#A1room-detail>p{
    color: gray;
}
.rooms2-detail{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}

.room2{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  column-gap: 0px;
}
.room2>img{
  height: 232px;
  width: 343px;
}
#description{
  width: 1000px;
  height: 900px;
  display: grid;
  grid-template-columns: 300px;
  /* justify-content: center; */
  align-items: center;
  margin: 0 20%;
}

#posts-head>posts1{
  display: flex;
  align-items: center
  justify-content: space-evenly;
  text-align: center;
}
#posts1>img{
  /* height: 80px;
  width: 80px; */
}

#posts1{
  display: flex;
  width: 900px;
  flex-direction:;

}
#posts2{
  display: flex;
  width: 900px;
}
#post1{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
}
#post2{
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
}
#post3{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
}
#post4{
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
}
#post5{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
}
#post6{
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
}
#about{
  height: 500px;
  width: 300px;
  grid-column-start: 3;
  grid-column-end: 4;
  line-height: 30px;
}
#about>img{
  width: ;
  height:;
}
