* {
  margin: 0;
  padding: 0;
}

.mean-container {
  background-image: url("https://cdn.pixabay.com/photo/2019/09/12/19/50/boats-4472502_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 778px;
  width: 1580px;
  margin-top: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 5%;
}

nav > h2 {
  color: white;
}

.hamburger {
  color: white;
  background: transparent;
  border: 0;
  font-size: 20px;
}
#head-line {
  text-align: center;
  margin: 180px;
  color: white;
}

#men-line {
  font-size: calc(2.5vw + 10px);
  font-weight: 900;
  font-stretch: expanded;
  display: grid;
  justify-content: space-evenly;
}
#info {
  font-size: 17px;
  font-weight: 100;
  margin: 10px 0 22px 0;
}
#a {
  font-size: 11px;
  color: white;
  background-color: #e7185d;
  border: 1px solid #e7185d;
  border-radius: 20px;
  padding: 8px 20px;
  text-decoration: none;
}
#b {
  font-size: 11px;
  font-weight: bold;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 8px 20px;
  text-decoration: none;
}
#work-cont {
  margin: 30px auto;
  text-align: center;
}
#work-cont>h2{
  color: burlywood;
  font-size: 20px;
}
.rooms-img {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 15%);
  grid-template-rows: repeat(2, 220px);
  grid-template-areas:
    "gal__1 gal__1 gal__2 gal__2"
    "gal__3 gal__4 gal__2 gal__2";
  gap: 30px;
  margin-bottom: 50px;
}

.rooms-img > img {
  height: 100%;
  width: 100%;
}

.image-1 {
  grid-area: gal__1;
}
.image-2 {
  grid-area: gal__3;
}
.image-3 {
  grid-area: gal__4;
}
.image-4 {
  grid-area: gal__2;
}

#mean-apartment {
  font-size: 43px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  padding: 20px;
}
#Apartment {
  background-color: #dddddd;
  padding: 0 0 100px;
  justify-content: space-evenly;
  text-align: center;
}
.rooms1-detail,.rooms2-detail {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  
}

.room1{
  gap: 20px;
  display: flex;
  justify-items:right;
  align-items: flex-end;
}
.room1,.room2 {
  display:flex;
  text-align: center;
  justify-content: space-evenly;
  flex: 1;
}
.room1>img ,.room2> img {
  height: 265px;
  width: 343px;
  width: 50%;
}
#icon>i{
  font-size: 12px;
  color: #fc728f;
  margin: 0 3px;
}
#icon-item::before{
  content: "\f005";
}
#icon-item{
  font-weight: 900;
  margin: 0 3px;
  font-style: normal;
  font-family: "Font Awesome 6 Free";
}
#RowA-rooms,#RowB-rooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
}
#A1room-detail,#B1room-detail {
  padding: 10px;
  gap: 0px;
  /* border: 1px; */
}
#A1room-detail>p>b,#B1room-detail>p>b{
  color: black;
}
#A1room-detail > p,#B1room-detail>p {
  color: gray;
}
#view-button{
  padding: 8px 20px;
  font-weight: 600;
  border-color: rgb(216, 215, 215);
  background-color: rgb(228, 228, 228);
  
}

#description {
  width: 700px;
  height: 900px;
  display: grid;
  grid-template-columns: repeat(1,750px);
  /* justify-content: center; */
  align-items: center;
  margin: 0 20%;
  margin-top: 45px;
}

#posts-head > posts1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 20px;
}

#posts1 {
  display: grid;
  width: 250px;
}
#posts2 {
  display: grid;
  width: 250px;
}
#post1 {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
}
#post2 {
  display: flex;
  grid-column-start: 2;
  flex: 3;
}
#post3 {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
}
#post4 {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 3;
}
#post5 {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
}
#post6 {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 3;
}
#about {
  margin-top: 34px;
  height: 500px;
  width: 300px;
  grid-column-start: 3;
  grid-column-end: 4;
  line-height: 30px;

}
#about-data{
  margin-top: 20px;
}

#tag-tab{
  text-align: center;
  
}
#tags {
  display: flex;
  flex-wrap:wrap;
  width: 55%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  padding: 10px;
  row-gap: 20px;
  margin-bottom: 30px;
}
#tags > button {
  border: none;
  font-size: 17px;
  padding: 10px;
  
}
